#container{
  width: 40%;
  min-height: 200px;
  margin-right: 10px;
  margin-top: 20px;
  float: left;
  border: 2px solid black;
}

form{
 margin-top: 10px;
 margin-left: 10px;
 width: 60%;
 position: relative;
}

#question{
  min-width: 150px;
 margin: 20px;
 display: inline-block;
}

#answer{
  margin: 20px;
}

#button{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#heading{
 text-align: center;
}
